.done-true {
    text-decoration: line-through;
    color: grey;
}
.header {
    text-align: right;
}
#working {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00be00;
    color: #fff;
  }
  
  #working.true {
    display: block;
  }
  
  #working.false {
    display: none;
  }