<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/todo.css">
</head>

<body>
    <div class="panel panel-success text-center">
        <div class="panel-heading">
            <h3 class="panel-title">Choo Todo Bot</h3>
        </div>
        <div class="panel-body">
            <p class="card-text">To edit Todo, please login to continue.</p>
            <a href="/login"><img src="/images/btn_login_base.png"></button></a>
        </div>
    </div>
</body>

</html>