<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/todo.css">
</head>

<body>
    <div class="card text-center">
        <div class="card-header">
            Choo Todo Bot
        </div>
        <div class="card-body">
            <p class="card-text">To edit Todo, please login to continue.</p>
            <a href="/login"><img src="/images/btn_login_base.png"></button></a>
        </div>
    </div>
</body>

</html>